.Header {
  text-align: center;
}

.main-logo {
  width: 200px;
  padding: 20px 0;
}

.Header nav {
  background-color: #000;
  line-height: 40px;
}

.Header nav a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
  padding: 5px;
  font-size: 18px;
}

.Header nav a:hover {
  background-color: lightgrey;
  color: #000;
}
